<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configuración de conexión a base de datos -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!--
        <property name="connection.url">jdbc:mysql://localhost:3307/eduelorrieta</property>
        -->
        <property name="connection.url">jdbc:mysql://localhost:3307/eduelorrieta</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        
        <!-- Dialecto SQL -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- Para PostgreSQL usa:
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/tu_base_datos</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        -->
        
        <!-- Configuración adicional -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        
          <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        
        <!-- Registro de entidades -->
        <mapping class="elorServ.modelo.entities.Ciclos"/>
        <mapping class="elorServ.modelo.entities.Users"/>
        <mapping class="elorServ.modelo.entities.Modulos"/>
        <mapping class="elorServ.modelo.entities.Tipos"/>
        <mapping class="elorServ.modelo.entities.Horarios"/>
        <mapping class="elorServ.modelo.entities.Matriculaciones"/>
        <mapping class="elorServ.modelo.entities.Reuniones"/>
        
        
    </session-factory>
</hibernate-configuration>